
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins';
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow: auto;
  padding-top: 10rem; /* Adjusting this to give space for the fixed header */
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #000000;
  --text-color: rgb(33, 81, 169);
  --main-color: #107ed8;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background: rgba(44, 73, 145, 0.3);
  backdrop-filter: blur(30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.logo {
  font-size: 3.5rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background: linear-gradient(
      270deg,
      #dda351 10%,
      #298ff0 100%
  );
  margin-left: -60px;
  background-clip: text;
  color: transparent;
}

.logo:hover {
  transform: scale(1.1);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.333));
  text-shadow: 0 0 30px rgb(57, 150, 237);
}

span {
  background: linear-gradient(
      270deg,
      #ca9852 10%,
      #2288e7 100%
  );
  background-clip: text;
  color: transparent;
}

.navbar a {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #895b22;
  font-size: 1.5rem;
  font-weight: bold;
  transform: 0.5s;
  overflow: hidden;
  margin-right: 50px;
  border-radius: 0.8rem;
  transition: 0.3s ease-in-out;
}

.navbar a:hover {
  background: linear-gradient(
      270deg,
      #346ee2 10%,
      #d8a66a 100%
  );
  color: #000000;
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 5px #107ed8,
      0 0 25px #107ed8,
      0 0 50px #107ed8,
      0 0 200px #107ed8;
  -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(0, 0, 0, 0.333));
}

.container {
  position: relative;
  display: inline-block;
}

.rotating-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  animation: rotateAndMessage 5s infinite linear;
  transition: transform 0.2s ease;
  box-shadow: 0 0 50px var(--main-color);
}

.rotating-image:hover {
  box-shadow: 0 0 25px var(--main-color),
      0 0 50px var(--main-color),
      0 0 100px var(--main-color);
}

.message {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  background: linear-gradient(
      270deg,
      #346ee2 10%,
      #e8c59b 100%
  );
  color: white;
  padding: 10px 10px;
  border-radius: 10px 0px 0px 10px;
  opacity: 0;
  display: inline-block;
  max-width: 110px;
  overflow: hidden;
  animation: growMessage 5s infinite linear;
  animation-delay: 0.3s;
  margin-left: 20px;
  white-space: nowrap;
}

@keyframes rotateAndMessage {
  0% {
      transform: rotate(0deg);
  }
  33% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes growMessage {
  0%, 25% {
      opacity: 0;
      width: 0;
  }
  50% {
      opacity: 1;
      width: 200px;
  }
  75% {
      opacity: 1;
      width: 150px;
  }
  100% {
      width: 0;
      opacity: 0;
  }
}

.home {
  padding-top: 8rem; 
}

.container-2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 500px;
  background: #3a3838;
  box-shadow: 0 30px 50px #3b3838;
}

.container-2 .slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 50%;
}

.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}

.slide .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}

.slide .item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to {
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.button button:hover {
  background: #ababab;
  color: #fff;
}
